extends layout

block content
    .row
        for group in groups
            .col-md-3: table.table.table-striped
                tr: td
                    for person in group
                        div #{person.email}