doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Bootstrap 101 Template
        link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    body
        h1 Hello, world!
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')